.custom-navbar-link {
  @apply flex items-center text-base
        font-semibold
        hover:text-teal-600 hover:underline
        dark:hover:text-teal-600;
}

#navbar-collapse-content .custom-navbar-link {
  @apply mx-[5%] flex w-[20%]
        justify-center self-center
        rounded-sm border-b-2
        border-black bg-blue-300
        bg-opacity-50 dark:border-white
        dark:bg-gray-50 dark:bg-opacity-25;
}

.navbar-collapse {
  @apply flex w-full flex-col items-center
    gap-2.5 border-t border-black
    p-2.5 dark:border-white md:w-auto
    md:flex-row md:gap-2.5 md:border-none md:p-0;
}

.navbar {
  @apply fixed start-0 top-0 z-20 w-full
    border-b border-gray-600 bg-cyan-100 
    dark:border-gray-600 dark:bg-slate-800;
}
