.page-wrapper {
  @apply flex min-h-screen w-screen flex-col
    items-center justify-center overflow-auto bg-transparent;
}

.content-form {
  @apply flex h-fit w-3/4 flex-col
    items-center gap-4 rounded p-6 shadow-lg
    ring-4 ring-teal-300 ring-opacity-50 dark:ring-teal-400
    dark:ring-opacity-60 lg:w-1/2;
}

.form-fluid-text {
  font-size: clamp(2rem, 7.5vw, 3rem);
}

.fluid-form-input {
  width: clamp(1rem, 5vw, 2rem);
}

.form-page-title {
  @apply w-fit overflow-hidden whitespace-nowrap text-center font-semibold text-black dark:text-white;
}
