.base-form-input {
  @apply mt-2 h-[85%] w-fit rounded-lg
    border-2 bg-transparent px-2 indent-1
    outline-none ring-0 ring-transparent
    focus:ring-0 focus:ring-transparent;
}

.base-form-input-label {
  /* Positioning */
  @apply absolute left-2.5 top-3 z-10;

  /* Styling */
  @apply rounded-lg bg-teal-500 px-1 text-base text-gray-700;

  /* Transitioning */
  @apply transition-all duration-300 ease-linear;

  /* Peer */
  @apply peer-placeholder-shown:top-[35%] peer-placeholder-shown:text-base;

  @apply peer-[&:not(:placeholder-shown)]:-top-0.5
    peer-[&:not(:placeholder-shown)]:text-sm
  peer-[&:not(:placeholder-shown)]:text-black
  dark:peer-[&:not(:placeholder-shown)]:text-white;

  @apply peer-focus:-top-0.5 peer-focus:text-sm
  peer-focus:text-blue-700 dark:peer-focus:text-blue-700;
}

.rtl-form-input-label {
  @apply w-fit rtl:left-0 rtl:right-4;
}

.form-input-error {
  @apply !border-red-500 text-red-500 caret-red-700 
  focus:border-red-500 focus:ring-0;
}

.form-input-success {
  @apply !border-green-500 text-green-500 caret-green-700
  focus:border-green-500 focus:ring-0;
}

.form-input-label-error {
  @apply text-red-700
  focus:text-red-700
  peer-focus:font-bold
  peer-focus:!text-red-700
  peer-[&:not(:placeholder-shown)]:!text-red-700;
}

.form-input-label-success {
  @apply text-green-700
  focus:text-green-700
  peer-focus:!text-green-700
  peer-[&:not(:placeholder-shown)]:!text-green-700;
}
