@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.search-box {
  @apply relative border-none;
}

.search-box > input {
  @apply rounded border-2
        border-teal-700 bg-gray-50
        indent-7
        outline-none dark:border-slate-400
        dark:bg-slate-700 dark:text-white sm:block sm:w-[20rem]
        md:w-[23rem] lg:w-[30rem];
  font-family: "Rubik";
}

.search-box > .search-icon {
  @apply absolute left-2;
}

@media (max-width: 767px) {
  .search-box {
    @apply !w-fit;
  }

  .search-box > input {
    @apply max-w-[285px] text-sm;
  }

  .search-box > .search-icon {
    @apply left-2 size-4 text-slate-700;
  }
}
